* {
  /* розмір боксу всі елементи в середині боксу стиснуті */
  box-sizing: border-box;
}

body {
  margin: 100px;
  overflow: hidden;
}
.field {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  display: flex;
  /* розміщує елесменти в один чи кілька рядків */
  flex-wrap: wrap;
  background-color: #cccccc;
}

.excel {
  width: 50px;
  height: 50px;
  padding: 5px;
}

.head {
  background: url(img/snakeHead.png);
  background-size: cover;
  border-radius: 50%;
}

.snakeBody {
  background: url(img/body.png);
  background-size: cover;
  border-radius: 10%;
}

.mouse {
  background: url(img/yellow-circle.png);
  background-size: cover;
  border-radius: 10%;
  size: 80%;
}
